@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Exo+2&display=swap');

html{
    height: 100%;
}

body{
    /*background-color: #101010;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

.index{
    overflow: hidden;
}

p{
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}


.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.wrapper{
    min-height: 100vh;
    overflow: hidden;
}


/* Header - Navbar */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 5%;
    margin-bottom: 50px;
}

#header-index{
    justify-content: space-between;
    animation: none;
}

.nav-left{
    animation: navAppearLeft 3s forwards;
}

.nav-right{
    animation: navAppearRight 3s forwards;
}

.sun-small{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FE3D28;
    margin: 10px;
}

#nav-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-title a{
    text-decoration: none;
    color: #000;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin: 0 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #000;
}


/* Main Page*/

#main{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    height: 100%;
}

/* Main Page - Left*/

.left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 60px;
    animation: sunAppear 3s forwards;
}

.sun{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FE3D28;
    box-shadow: 0 0 100px #FE3D28;
    animation: sunAppear 3s forwards;
}

#main-mid{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: rgb(255,255,255);
 }

.kanjis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;    
    width: 40%;
    height: 80%;
    opacity: 0;
    animation: fadeInBackground 3s forwards;
    animation-delay: 1.5s;
    background: rgb(255,255,255);
    background: radial-gradient(circle closest-side, rgba(254,61,40,0.1) 50%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
    background-size: 175%;
    background-position: center center;
}

.kanji{
    margin: 0;
    padding-top: 10px;
}


.main-mid-left{
    background-color: #fff;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 10%);  
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.main-mid-left p{
    opacity: 0;
    animation: fadeInBackground 3s forwards;
    animation-delay: 1.5s;
}

#arrow-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    animation: fadeInBackground 3s forwards;
    animation-delay: 1.5s;
}

#arrow-link a{
    margin-right: 25%;
}

#arrow-link p{
    padding-right: 2%;
}

/*https://codepen.io/redone-dev/pen/eYKrxoY pour la flèche*/
.fleche{
    display: inline-flex;
    position: relative;
    width: 60px;
    height: 20px;
    z-index: 1;
    animation: arrowMovement 1.5s forwards;
    animation-iteration-count: infinite;
}

.fleche:before, .fleche:after {
    content: "";
    position: absolute;
}

.fleche:before {
    border-top: 2px solid black;
    width: 60px;
    top: 10px;
}

.fleche:after {
    width: 11px;
    height: 11px;
    top: 4px;
    right: 1px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
}

.cercle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FE3D28;
    margin-top: 4px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

#main-mid-tori{
    display: flex;
    flex-direction: row;
    align-items: self-end;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    opacity: 0;
    animation: fadeInBackground 3s forwards;
    animation-delay: 1.5s;
}

#txt-tori{
    width: 50%;
}

#txt-tori p{
    font-size: 14px;
}

#txt-tori h2{
    font-size: 20px;
}

#img-tori{
    background-image: url("assets/tori.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 240px;
    height: 150px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInBackground 3s forwards;
    animation-delay: 1.5s;
    align-self: last baseline;
    margin-right: 1em;
}

/* Main Page - Right*/

.right{
    width: 40%;
    height: 100%;
    display: flex;
}

#main-img{
    background-image: url('assets/main-bg3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 35%;
    position: absolute;
    z-index: -1;
    animation-name: fadeInBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#main-images{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

#main-images img{
    width: 30%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    transform: translateX(-50px);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#main-images img:nth-child(3){
    filter: brightness(2) saturate(2) hue-rotate(10deg);
}


#img1 {
    animation-delay: 1.5s;
}

#img2 {
    animation-delay: 2.5s;
}

#img3 {
    animation-delay: 3.5s;
}



/* 2eme Page */

/* Section Tradition */

    

#tradition{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 100px;
    animation: sunAppear 4s forwards;
}

#tradition-1{
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    border-radius: 15px 15px 0 0;
    background-color: rgba(244, 139, 128, 0.169);
}

#txt-tradition-top{
    width: 50%;
    height: 100%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.txt-tradition{
    background-color: rgba(254, 61, 40, 0.3);;
    border-radius: 15px;
    padding: 0 1em;
}

.half{
    width: 50%;
}

.full{
    width: 93%;
}

#img-tableau{
    background-image: url('assets/tableau.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40%;
    height: 95%;
    border-radius: 15px;
}

#img-kimono{
    background-image: url('assets/tradition.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40%;
    height: 80%;
    border-radius: 15px;
}

#img-temple-shinto{
    background-image: url('assets/temple-shinto.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 82%;
    height: 50%;
    border-radius: 15px;
}

#tradition-2{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 2%;
    background-color: rgba(244, 139, 128, 0.169);
}

.full2{
    width: 80%;
}

/* Section modernité */

#modernite-bottom-s{
    display: none;
}

#modernite{
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 100px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}



#modernite-top{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 15px;
    background-color: rgba(254, 61, 40, 0.3);
    margin-bottom: -10em;
    animation: fadeInBackground 2s forwards;
}

#modernite-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




/* row 1 */
#img-l1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

#img-miyamoto{
    background-image: url('assets/miyamoto.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    animation: sunAppear 4s forwards;
    animation-delay: 1s;
}

#img-canal{
    background-image: url('assets/canal.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    border-radius: 60%;
    opacity: 0;
    animation: sunAppear 4s forwards;
    animation-delay: 1s;
}

#img-l2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#img-shibuya{
    background-image: url('assets/shibuya.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    animation: sunAppear 4s forwards;
    animation-delay: 2s;
}

#modernite-bottom{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 15px;
    background-color: rgba(254, 61, 40, 0.3);
    margin-top: 14em;
    opacity: 0;
    animation: fadeInBackground 2s forwards;
    animation-delay: 5s;
}

#modernite-img-2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

.modernite-img-col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 80%;
    background-color: rgba(254, 61, 40, 0.25);
    border-radius: 15px 15px 0 0;
    opacity: 0;
    animation: fadeInBackground 4s forwards;
    animation-delay: 6s;
}

.modernite-img-col p{
    width: 65%;
}

#img-fax{
    background-image: url('assets/fax.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

#img-plastique{
    background-image: url('assets/plastique.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

#img-tatouage{
    background-image: url('assets/tatouage.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}



/* footer */

footer {
    background-color: #f48b802b;
    padding: 20px;
    text-align: center;
}

.footer-content {
    font-size: 14px;
    color: #555;
}


/* CSS Mobile adaptation */

@media only screen and (max-width: 400px){
    .sun{
        display: none;
    }
}

@media only screen and (max-width: 515px){
    #txt-tori{
        width: 100%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 1100px){

    .right{
        visibility: hidden;
        display: none;
    }

    .left{
        width: 100%;
    }

    #header-index{
        justify-content: space-between;
    }

    .index{
        overflow: auto;
    }

    .wrapper{
        overflow: auto;
        height: 100%;
    }

}

#burger-div{
    display: none;
}

.burger-elt{
    display: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#check{
    display: none;
}

#check:checked ~ #burger .elt1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: transform 0.2s ease-in-out;
}

#check:checked ~ #burger .elt2 {
    opacity: 0;
}

#check:checked ~ #burger .elt3 {
    transform: rotate(45deg) translate(-9px, -6px);
    transition: transform 0.2s ease-in-out;
}

#check:not(:checked) ~ #burger .elt1 {
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.2s ease-in-out;
}

#check:not(:checked) ~ #burger .elt2 {
    opacity: 1;
}

#check:not(:checked) ~ #burger .elt3 {
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.2s ease-in-out;
}





@media only screen and (max-width: 700px){
    .nav-item{
        font-size: 2.5em;
    }
    
    #check:checked ~ .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: center;
        background-color: rgba(255, 255, 255, 0.8);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }
    #check:checked ~ body {
        overflow-y: hidden;
    }
    
    .navbar {
        display: none;
    }  

    #burger{
        z-index: 2;
    }

    
    .burger-elt{
        display: block;
    }

    

    .kanjis{
        display: none;
    }

    h1{
        font-size: 1em;
    }

    .sun{
        width: 125px;
        height: 125px;
    }

    p{
        font-size: 0.8em;
    }

    #main-mid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #main-mid-left{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #main-mid-tori{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img-tori{
        align-self: auto;
    }
}


/* Css for the tradition page */


@media only screen and (max-width: 1440px) {
    .full{
        width: auto;
    }

    #tradition-1 {
        flex-direction: column;
        align-items: center;
    }

    #txt-tradition-top {
        width: 80%;
    }

    .txt-tradition {
        margin-bottom: 1em;
    }

    #img-tableau {
        width: 80%;
        margin-top: 1em;
    }

    #img-kimono {
        align-self: flex-start;
        height: 90%;
    }

}

@media only screen and (max-width: 1170px) {
    #img-tableau {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .full{
        display: none;
    }
    
    #txt-tradition-top {
        width: 100%;
    }
    
    #img-kimono{
        width: 30%;
        height: 50%;
        align-self: center;
    }

    #img-temple-shinto {
        height: 100px;
    }

    p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 440px) {

    #img-temple-shinto, #img-kimono {
        display: none;
    }

    .txt-tradition {
        width: 80%;
    }

    p{
        font-size: 0.8em;
    }
}

/* Css for the modernite page */

@media only screen and (max-width: 1015px) {
    #modernite p{
        font-size: 0.8em;
    }

    #modernite h1{
        font-size: 1.5em;
        text-align: center;
    }

    #img-fax,#img-plastique, #img-tatouage{
        height: 5em;
    }

    #img-canal, #img-miyamoto, #img-shibuya{
        border-radius: 50%;
        height: 10em;
    }

    header{
        justify-content: space-between;
    }

}
@media only screen and (max-width: 800px) {
    
    #img-fax,#img-plastique, #img-tatouage{
        height: 4em;
    }

    #img-canal, #img-miyamoto, #img-shibuya{
        border-radius: 50%;
        height: 8em;
    }

}

@media only screen and (max-width: 430px){
    #img-canal, #img-miyamoto, #img-shibuya {
        border-radius: 10%;
        width: 40%;
    }

    #modernite-bottom{
        display: none;
    }
    

    #modernite{
        height: auto;
    }

    #modernite-top{
        height: auto;
        margin-bottom: auto;
    }

    #modernite-bottom-s{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color: rgba(254, 61, 40, 0.3);
        border-radius: 20px;
        margin-top: 50px;
        width: 80%;
        padding: 1em;
        animation: fadeInBackground 2s forwards;
        animation-delay: 5s;
    }
    footer{
        margin-top: 100px;
    }
}
/*Animations*/

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50px);
    }
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

@keyframes sunAppear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes arrowMovement {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes navAppearLeft{
    0% {
        padding-right: 30%;
    }
    100% {
        padding: 0;
    }
}

@keyframes navAppearRight{
    0% {
        padding-left: 30%;
    }
    100% {
        padding: 0;
    }
}